body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}
#first {
    font-weight: 700;
    font-size: 1.25rem;
    color: hsl(218, 44%, 22%);
}
#second {
    font-weight: 400;
    font-size: 13px;
    color: hsl(220, 15%, 55%);
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    width: 22%;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    left: 40%;
    top: 10%;
    border-radius: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 20px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
#img {
    position: relative;
    max-width: 90%;
    height: auto;
    border-radius: 15px;
}